VITE_SUPABASE_URL=https://kphlutovrlvdddolxevc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtwaGx1dG92cmx2ZGRkb2x4ZXZjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgxNzcyNjIsImV4cCI6MjEwMzc1MzI2Mn0.9Rw1t-D5OShlWiJARUNMJW70eqChHiJHgOkuC1dqmtA
